<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; height: 50px;"
  >
    Productos
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; height: 50px;"
  >
    Cantidad Inicial
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; height: 50px;"
  >
    Cantidad Restante
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; height: 50px;"
  >
    Fecha de Renovacion
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Arroz
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    10 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    6 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    30 / 10
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Azucar
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    10 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    4kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    25/10
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Pollo Fresco
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    50 unidades
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    10
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    22/10
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Papa amarilla
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    15 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    3 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    22/10
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Sal
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    10 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    8 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    30/10
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Maiz Morado
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    15 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    10 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    30/10
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Limon
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    15 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    8 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    22/10
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Carne de res
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    15 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    7 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    22/10
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Hot Dog
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    10 paquetes
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    4 paquetes
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    30/10
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Perejil
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    1 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    1 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    30/10
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Ajinomoto
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    2 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    1 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    30/11
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Gaseosa 1 litro
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    20 unidades
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    8 unidades
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    22/10
  </div>
</div>
<div class="d-flex justify-content-center  text-center">
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold "
    style="background-color: #009BCC; color: white; height: 50px;"
  >
    Arveja
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #96C21F; color: white; height: 50px;"
  >
    3 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #ED6B04; color: white; height: 50px;"
  >
    1 kg
  </div>
  <div
    class="col-md-3 d-flex justify-content-center align-items-center font-weight-bold"
    style="background-color: #D9006B; color: white; height: 50px;"
  >
    30/10
  </div>
</div>
