<div class="eggWrapper">
  <div class="chickHead">
    <div class="eyeDiv"></div>
    <div class="eyeDiv"></div>
    <div class="beakDiv"></div>
  </div>
  <div class="eggDiv"></div>
  <div class="eggTop"></div>
</div>
<div class="eggWrapper">
  <div class="chickHead">
    <div class="eyeDiv"></div>
    <div class="eyeDiv"></div>
    <div class="beakDiv"></div>
  </div>
  <div class="eggDiv"></div>
  <div class="eggTop"></div>
</div>
<div class="eggWrapper">
  <div class="chickHead">
    <div class="eyeDiv"></div>
    <div class="eyeDiv"></div>
    <div class="beakDiv"></div>
  </div>
  <div class="eggDiv"></div>
  <div class="eggTop"></div>
</div>
<div class="eggWrapper">
  <div class="chickHead">
    <div class="eyeDiv"></div>
    <div class="eyeDiv"></div>
    <div class="beakDiv"></div>
  </div>
  <div class="eggDiv"></div>
  <div class="eggTop"></div>
</div>
