<div class="container pt-5">
  <input
    class="form-control my-5"
    type="text"
    name="search"
    [(ngModel)]="searchText"
    autocomplete="on"
    placeholder="&#61442; Busca algo de la carta aquí..."
  />
  <h1 class="text-center">Platos a la carta</h1>
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>Sección</th>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plato of platos | filter: searchText">
        <td>{{ plato.id }}</td>
        <td>{{ plato.name }}</td>
        <td>{{ plato.price }}</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <h1 class="text-center py-3">Bebidas</h1>
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>Sección</th>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bebida of bebidas | filter: searchText">
        <td>{{ bebida.id }}</td>
        <td>{{ bebida.name }}</td>
        <td>{{ bebida.price }}</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <h1 class="text-center py-3">Postres</h1>
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>Sección</th>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let postre of postres | filter: searchText">
        <td>{{ postre.id }}</td>
        <td>{{ postre.name }}</td>
        <td>{{ postre.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
