<div class="container">
  <div class="row h-100">
    <div class="col-md-4 p-0">
      &nbsp;
    </div>
    <div class="col-md-4 text-center mt-5 p-0">
      <h1 class="text-danger">Error 404</h1>
      <h3 class="text-danger my-4">Página no encontrada</h3>
      <img
        src="https://i.pinimg.com/originals/90/b5/5e/90b55e7c04a5dc2a84276ac62c8e8a0c.png"
        alt="PageNotFound"
        width="300px;"
      />
      <br />
      <a class="btn btn-primary text-white mt-3" [routerLink]="['/home']">
        Regresar
      </a>
    </div>
    <div class="col-md-4 p-0">
      &nbsp;
    </div>
  </div>
</div>
